.itemList {
    /*border: 1px solid #c0c0c0;*/
}
.itemList-child {
    position: relative;
    margin-top: -1px;
    border: 1px solid #c0c0c0;
}
/*.itemList-child:last-child {*/
    /*border-bottom: 0;*/
/*}*/
.itemList-child:hover {
    background: rgba(192, 192, 192, 0.3);
}
.itemList-item {
    width: 600px;
    margin: 0 auto 30px;
}
.titleSection {
    background: #990073;
    color: #fefefe;
}
.itemList-fuctional-value {
    position: absolute;
    top: 25px;
    right: 25px;
}
.itemList-fuctional-value.positive:after{
    background-color: #3adb76;
}
.itemList-fuctional-value.negative:after{
    background-color: #ff4081;
}
.is-hidden {
    display: none !important;
}
.itemList-child .container {
    position: relative;
}
.itemList-imageHolder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 140px;
    overflow: hidden;
    border-right: 1px solid #c0c0c0;
}
.itemList-imageHolder img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: none;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.itemList-textInfo {
    padding-left: 140px;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
    right: 0 !important;
}
.pageHeader {
    position: relative;
}
.addItem {
    position: absolute;
    right: 40px;
    top: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
}
.addPokemonForm {
    width: 300px;
    position: absolute;
    top: 100%;
    right: -350px;
    background: #fff;
    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
}
.itemList-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    margin: -14px 0 0 -14px;
}
.itemList-spinner:only-child {
    display: block;
}
.text-right {
    text-align: right;
}
.page-content {
    padding: 50px 0;
}
.small-container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
}


.pokemontypes {
    background: url(../images/Pokemon-GO-Types.png) no-repeat;
    display:inline-block;
    /*
    overflow: hidden; 
    text-indent: -9999px; 
    text-align: left;
    */ 
}

.bug-type-img { background-position: -2px -0px; width: 32px; height: 12px; }
.dark-type-img { background-position: -36px -0px; width: 32px; height: 12px; }
.dragon-type-img { background-position: -70px -0px; width: 32px; height: 12px; }
.electric-type-img { background-position: -104px -0px; width: 32px; height: 12px; }
.fairy-type-img { background-position: -2px -14px; width: 32px; height: 12px; }
.fighting-type-img { background-position: -36px -14px; width: 32px; height: 12px; }
.fire-type-img { background-position: -70px -14px; width: 32px; height: 12px; }
.flying-type-img { background-position: -104px -14px; width: 32px; height: 12px; }
.ghost-type-img { background-position: -2px -28px; width: 32px; height: 12px; }
.grass-type-img { background-position: -36px -28px; width: 32px; height: 12px; }
.ground-type-img { background-position: -70px -28px; width: 32px; height: 12px; }
.ice-type-img { background-position: -104px -28px; width: 32px; height: 12px; }
.normal-type-img { background-position: -2px -42px; width: 32px; height: 12px; }
.poison-type-img { background-position: -36px -42px; width: 32px; height: 12px; }
.psychic-type-img { background-position: -70px -42px; width: 32px; height: 12px; }
.rock-type-img { background-position: -104px -42px; width: 32px; height: 12px; }
.steel-type-img { background-position: -2px -56px; width: 32px; height: 12px; }
.water-type-img { background-position: -36px -56px; width: 32px; height: 12px; }

.TypeOptions {
    font-size: 12px;
    line-height: 1;
    margin: 10px 0;
    padding: 0;
}
.TypeOptions li {
    margin: 0 5px 5px 0;
    display: inline-block;
    vertical-align: middle;
    border: 3px solid transparent;
}
.TypeOptions li.is-active {
    border-color: #f00;
}
.TypeOptions li span {
    cursor: pointer;
}

